*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif !important;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #e9d1b3 !important;
}


.navbar {
    background-color: #a85353;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.huno {
    text-align: center;
    font-weight: 900;
    color: #a85353;
    font-size: 70px;
    margin-top: 20px;
    text-transform: uppercase;
}

.hdos {
    text-align: center;
    font-weight: 900;
    color: #a85353;
    font-size: 40px;
    margin-top: 10px;
    
}

.footer {
    background-color: #a85353;
    margin-top: 20px;
}

.hcincofooter {
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
    font-size: 20px;
    color: #e9d1b3;
}


.section-foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    justify-items: center;
}

.articulos {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.articulos .h-cuatro {
    font-weight: 900;
    color: #a85353;
    font-size: 30px;
    text-align: center;
}

.sectionInformacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.divInformacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.divInformacion .prftitulo {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    color: #e9d1b3;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;
    max-width: 1200px;
    margin: 10px auto;
}


.h3 {
    text-align: center;
    text-transform: uppercase !important;
}

.sectionantojo {
    display: flex;
    justify-content: center
}

.sabor {
    color: #a85353;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin-top: 10px;
    
}


.precio {
    color: #a85353;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 20px;

}

.div-card {
    border: 1px solid #a85353;
    border-radius: 20px;
    background-color: #f7e6b2af;
    width: 300px;
    height: auto;
}

.img-sabores {
    width: 100%;
    height: auto;
    padding: 20px;
}


button {
    text-align: center;
    color: #e9d1b3;
    background-color: #a85353;
    margin-top: 30px;
    border-radius: 10px;
}

.comprar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar-nav .nav-link.active {
    color: #e9d1b3 !important;
    text-transform: uppercase !important;
}

input {
    width: 100%;
    background-color: #a85353;
    
}

::placeholder {
    color: #e9d1b3;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif !important;
}

.div-msg {
    width: 100%;
    height: 100px;
    color: #e9d1b3;
    background-color: #a85353;
}